name: Action
on:
  pull_request:
    branches: [master]
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: 'package.json'

      - run: npm ci
      - run: npm audit signatures
      - run: cat .npmrc
      - run: npm run validate:all
